.head{
  height: 100px;
  background-color: #2A1649;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
  width: 220px;
  float: left;
  height: 100px;
  overflow: hidden;
  /* background-color: red; */
}

.logoClass{
  width: auto;
  height: 100px;
}
.rightHeder{
  width: calc(100% - 220px);
  /* background-color:blue; */
  height: 100px;
  float: left;
}

.rightHederTop{
  height: 50px;
  /* background-color: yellow; */
}

.rightHederBottom{
  height: 50px;
  /* background-color: pink; */
}

.paddingClass{
  float: right;
  margin-right: 20px !important;
}

.searchBtn{
  width: 100px;
  border: 2px solid #fff;
  height: 40px;
  position: absolute;
  right: 5px;
  margin-top: 2px;

}

.rightHederTop{
  position: relative;
}

.searchBar{
  margin: auto;
  margin-top: 50px;
  width: 80%;
  /* background-color: #D9D9D9; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:20px;
  cursor: pointer;
  position: relative;
}

.containerImageContiner{
  /* float: right; */
  position: absolute;
  right: 0;
  top: 0;
  height: 58px;
  width: 58px;
  background-color: red;
  overflow: hidden;
}

.containerImageContinerImage{
  height: 58px;
  width: auto;
}

.serchCategoryBar{
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  margin: auto;
  display: none;
  /* z-index: 2; */
}

.sizeBox{
  height: 20px;
}

.vehicalDetailContainer{
  min-height: 300px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.vehicalDetailContainerLeft{
  width: 30%;
  height: 100%;
  /* background-color: red; */
  float: left;
}

.vehicalDetailContainerMiddle{
  width: 40%;
  height: 100%;
  /* background-color: black; */
  float: left;

}

.vehicalDetailContainerRight{
  width: 30%;
  height: 100%;
  background-color: #2A1649;
  /* background-color: #35A7FF; */
  float: left;

}

.vehicalDetailContainerLeftImageContainer{
  margin-top: 5%;
  margin-left: 15%;
  width: 85%;
  height: 70%;
  /* background-color: yellow; */

}

.vehicalDetailContainerPrice{
  margin-top: 25px;
  margin-left: 30px;
  padding: 3px;
  color: black;
  background-color: yellow;
  display: inline-block;
}

.vehicalDetailContainerLeftImage{
  width: 100%;
  height: auto;
}

.vehicalDetailContainerMiddleInfoContainer{
  margin-top: 30px;
  padding: 10px;
  margin-left: 30px;
}

.vehicalDetailContainerMiddleInfoContainerLeft{
  float: left;
  padding: 5px;
  width: 30%;
  /* background-color: red; */
}

.vehicalDetailContainerMiddleInfoContainerRight{
  float: left;
  padding: 5px;
  width: 55%;
  /* background-color: yellow; */
}

.vehicalDetailContainerRightInfoContainer{
  margin-top: 30px;
  padding: 10px;
  margin-left: 30px;
  color: #fff;
}

.vehicalDetailContainerRightInfoContainerLeft{
  float: left;
  padding: 5px;
  width: 30%;
  color: #fff;

  /* background-color: red; */
}

.vehicalDetailContainerRightInfoContainerRight{
  float: left;
  padding: 5px;
  width: 55%;
  color: #fff;

  /* background-color: yellow; */
}
.vehicalDetailContainerRightTitle{
  margin-top: 40px;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

.vehicalDetailContainerRightInfo{
  margin-left: 20px;
  margin-top: 10px;

}

.underline{
  text-decoration: underline;
  cursor: pointer;
}

.loadingDisplay{
  height: 300px;
}

.loadingImage{
  margin: auto;
  height: 300px;
  width: auto;
  display:block;
}

.bottom{
  width: 80%;
  padding: 50px 0px;
  margin: auto;
}

.floatDivContainer{
  height: 300px;
  border-bottom: 2px solid #D9D9D9;
}

.commentContaner{
  margin-bottom: 20px
}

.Comenter{
  font-weight: 900;
}

.comment{
  padding-left: 10px;
}

.commentSubmitButtonContainer{
  padding: 10px 0px;
}

.commentSumbitButton{
  width: 100px;
  background-color: #35A7FF;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: right;
  border: 2px solid #35A7FF;
  cursor: pointer;
}

.commentSumbitButton:hover{
  background-color: #fff;
  color: #35A7FF;
}

.dateContainer{
  float: right;
}
